/* Mixins */
@mixin mediaQueries($arg) {
  @media screen and (min-width: $arg) {
    @content;
  }
}

* {
  font-family: 'Raleway', sans-serif;
  padding: 0;
  margin: 0;
  font-size: 12px;
  @include mediaQueries(430px) {
    font-size: 16px;
  }
  @include mediaQueries(2000px) {
    font-size: 18px;
  }
}

.greybox {
  background-color: #eee;
  border-radius: .5em;
  margin: 1em auto;
  width: 92.5%;
  @include mediaQueries(430px) {
    margin-top: 1.25em;
    width: 90%;
  }
  @include mediaQueries(690px) {
    width: 75%;
  }
  @include mediaQueries(900px) {
    margin-top: 2em;
    width: 75%;
  }
  @include mediaQueries(1024px) {
    width: 65%;
  }
  @include mediaQueries(2000px) {
    max-width: 1200px;
  }
}

.greybox-column {
  display: flex;
  flex-direction: column;
}

/* Title */
.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.title {
  color: #343a40;
  font-size: 2.2em;
  font-weight: 100;
  margin: .5rem 0 0 1rem;
  @include mediaQueries(430px) {
    margin-top: 1rem;
  }
  @include mediaQueries(620px) {
    width: 75%;
  }
  @include mediaQueries(690px) {
    margin: 1rem 0 0 1.5rem;
    width: 60%;
  }
  @include mediaQueries(900px) {
    font-size: 3em;
  }
  @include mediaQueries(1400px) {
    margin: 1.5rem 0 0 2rem;
  }
  @include mediaQueries(2000px) {
    font-size: 3.75em;
    margin: .5em 0 0 .75em;
    width: 75%;
  }
}

.headline {
  font-style: italic;
  font-weight: 100;
  margin: .25rem 0 0 1rem;
  @include mediaQueries(690px) {
    margin: .5em 0 0 1.5rem;
  }
  @include mediaQueries(900px) {
    font-size: 1.25rem;
  }
  @include mediaQueries(1400px) {
    font-size: 1.2em;
    margin-left: 2rem;
  }
  @include mediaQueries(2000px) {
    font-size: 1.75em;
    margin: .5em 0 0 1.65em;
  }
}

.horizontal-rule {
  align-self: center;
  border: 0;
  border-top: 1px solid;
  color: rgba(0,0,0,.1);
  margin: .01em 0 1em;
  width: 92.5%;
}

.modal-btn {
  background-color: transparent;
  border: none;
  margin: .5rem .5rem 0 0;
  @include mediaQueries(430px) {
    margin: 1rem 1rem 0 0;
  }
  @include mediaQueries(690px) {
    margin: 1.25em 1.5em 0 0;
  }
  @include mediaQueries(900px) {
    margin: 1.5em 2em 0 0;
  }
  @include mediaQueries(1400px) {
    margin: 2rem 2rem 0 0;
  }
  @include mediaQueries(2000px) {
    margin: 2.5em 3em 0 0;
  }
}

.material-icons.md-14 {
  font-size: 14px;
  opacity: .5;
  @include mediaQueries(430px) {
    font-size: 20px;
  }
  @include mediaQueries(690px) {
    font-size: 24px;
  }
  @include mediaQueries(900px) {
    font-size: 30px;
  }
  @include mediaQueries(1400px) {
    font-size: 30px;
  }
  @include mediaQueries(2000px) {
    font-size: 40px;
  }
}

/* Modal */
.modal-about {
  border: 2px solid black;
  border-radius: 5px;
  margin: 0 auto;
  padding: .5em;
  top: 15%;
  width: 80%;
  @include mediaQueries(430px){
    width: 70%;
  }
  @include mediaQueries(690px) {
    width: 60%;
  }
  @include mediaQueries(900px) {
    width: 55%;
  }
  @include mediaQueries(1400px) {
    width: 50%;
  }
}

.modal-cancel {
  background-color: transparent;
  border: none;
  float: right;
}

.material-icons.sm-12 {
  font-size: 12px;
  @include mediaQueries(900px) {
    font-size: 30px;
  }
}

.modal-title {
  color: royalblue;
  font-size: 1.1em;
  padding: .5em;
  text-decoration: underline;
  width: 7em;
  @include mediaQueries(900px) {
    font-size: 1.25em;
  }
}

.user-stories {
  font-style: italic;
  padding: .5em 2em .5em 2.5em;
}

.story {
  @include mediaQueries(900px) {
    font-size: 1.25rem;
  }
  @include mediaQueries(2000px) {
    font-size: 1.5em;
  }
}

.story:nth-of-type(2) {
  margin-top: 1em;
}

.modal-text {
  margin: .5em;
  @include mediaQueries(900px) {
    font-size: 1.25rem;
  }
  @include mediaQueries(2000px) {
    font-size: 1.5em;
  }
}

.link {
  color: royalblue;
  text-decoration: none;
}

.modal-about::backdrop {
  background: darkgray;
  opacity: .85;
}

/* Hero section */
.hero-container {
  align-self: center;
  width: 92.5%;
}

.hero-img {
  border-radius: .5em;
  width: 100%;
}

.hero-img-caption {
  color: gray;
  float: right;
  font-size: .75em;
  font-weight: 400;
  margin-top: .25em;
  padding-right: .35em;
  @include mediaQueries(900px) {
    font-size: 1.1rem;
  }
  @include mediaQueries(2000px) {
    font-size: 1.5em;
  }
}

/* Stats */
.details {
  align-self: center;
  margin: 1em 0 0;
  width: 92.5%;
}

.stats-title {
  text-decoration: underline;
  @include mediaQueries(1400px) {
    font-size: 1.15rem;
  }
  @include mediaQueries(2000px) {
    font-size: 1.5em;
  }
}

.stats-container {
  list-style-type: none;
}

.stat-name {
  display: inline-block;
  font-weight: bold;
  width: 6em;
  @include mediaQueries(1400px) {
    font-size: 1.15rem;
  }
  @include mediaQueries(2000px) {
    font-size: 1.5em;
  }
}

.stat {
  @include mediaQueries(1400px) {
    font-size: 1.15rem;
  }
  @include mediaQueries(2000px) {
    font-size: 1.5em;
  }
}

.website {
  color: #007bff;
  text-decoration: none;
  @include mediaQueries(1400px) {
    font-size: 1.15rem;
  }
  @include mediaQueries(2000px) {
    font-size: 1em;
  }
}

.text {
  @include mediaQueries(1400px) {
    font-size: 1.15rem;
  }
  @include mediaQueries(2000px) {
    font-size: 1.5em;
  }
}

.hr-margin {
  margin: 1.25em 0;
  width: 100%;
}

/* Footer */
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include mediaQueries(900px) {
    flex-direction: row;
    justify-content: space-between;
    margin: 0 2em;
    padding-bottom: 1em;
  }
  @include mediaQueries(2000px) {
    padding: 1em 0;
    margin: 0 3em;
  }
}

.more-info {
  background-color: transparent;
  border: 1px solid #17a2b8;
  border-radius: 2px;
  color: #17a2b8;
  padding: .5em .65em;
  margin-bottom: .5em;
  width: 7em;
  @include mediaQueries(2000px) {
    font-size: 1em;
  }
  @include mediaQueries(2000px) {
    font-size: 1.5em;
  }
}

.more-info .link {
  color: #17a2b8;
  font-size: 1.25em;
}

.link {
  @include mediaQueries(900px) {
    font-size: 1.25rem;
  }
  @include mediaQueries(2000px) {
    font-size: 1em;
  }
}

.signature {
  align-self: center;
  margin: .5em 0 1em;
  @include mediaQueries(430px) {
    font-size: .85rem;
  }
  @include mediaQueries(2000px) {
    font-size: 1.5em;
  }
}

.freecodecamp {
  color: #007bff;
  text-decoration: none;
  @include mediaQueries(430px) {
    font-size: .85rem;
  }
  @include mediaQueries(2000px) {
    font-size: 1em;
  }
}
