* {
  font-family: 'Raleway', sans-serif;
  padding: 0;
  margin: 0;
}

.greyBox {
  border-radius: 0.5em;
  background-color: #eee;
  width: 65%;
  margin: 2em auto 0;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.heading {
  margin: 15px 10px 20px 20px;
}

h1 {
  font-size: 3.5em;
  font-weight: lighter;
  margin-left: 4%;
  color: black;
  width: 100%;
}

.italic {
  font-weight: lighter;
  font-style: italic;
  font-size: 1.1em;
  margin-left: 4%;
}

figure {
  width: 92.5%;
  align-self: center;
}

figure img {
  width: 100%;
  border-radius: 0.5em;
}

figure figcaption {
  float: right;
  color: gray;
  font-weight: 400;
}

section {
  width: 92.5%;
  margin: 1em 0 1em 0;
  align-self: center;
  border: 1px solid green;
}

section h4 {
  text-decoration: underline;
}

section ul {
  list-style-type: none;
}

.bold {
  font-weight: bold;
}

button {
  margin: 1em 0 3.75% 3.75%;
  display: inline-block;
  padding: 1%;
  border-radius: 2px;
}

.footer {
  align-self: flex-end;
  margin: 1em 3.75% 3.75% 0;
  display: inline-block;
}

a {
  text-decoration: none;
}
