.hero-container {
    align-self: center;
    width: 92.5%; }

.horizontal-rule {
      align-self: center;
      border: 0;
      border-top: 1px solid;
      color: rgba(0, 0, 0, 0.1);
      margin: 1em 0 1em;
     }

.hero-img {
    border-radius: .5em;
    width: 100%; }

.hero-img-caption {
    color: gray;
    float: right;
    font-size: .75em;
    font-weight: 400;
    margin-top: .25em;
    padding-right: .35em; }
    @media screen and (min-width: 900px) {
      .hero-img-caption {
        font-size: 1.1rem; } }
    @media screen and (min-width: 2000px) {
      .hero-img-caption {
        font-size: 1.5em; } }
